<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <div class="menu-div">
            <h1>My Projects</h1>
        <nav id="menu">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="about-me.html">About Me</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="skills.html">Skills</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
    </header>
    <main>
        <section id="project-1">
            <div id="skills-summary" class="bg">
                <h2>Property8 - Real Esate Website</h2>
                <p>SLidam - Real Estate Website is a comprehensive platform designed for property listings and searches, leveraging PHP and MySQL for robust backend functionality and database management. The backend is built with PHP, ensuring efficient server-side processing and dynamic content generation. MySQL is utilized for database integration, offering reliable data storage and retrieval for property listings and user information. The frontend is crafted using HTML and CSS, providing a responsive and visually appealing user interface. This project aims to simplify real estate transactions by offering a seamless and user-friendly experience.</p>
                <img style="width: 45vw; height: auto;" src="../static/project11.png" alt="Project 1a">
                <!-- <img style="width: 30vw; height: auto;" src="../static/project12.png" alt="Project 1b"> -->
                <img style="width: 45vw; height: auto;" src="../static/project13.png" alt="Project 1c">
            </div>
        </section>
        <section id="project-2">
            <div style="margin-top: 20px;" id="skills-summary" class="bg">
                <h2>Plant Guardian - A Web Dashboard for IoT-based Drip Irrigation Systems</h2>
                <p>This project utilizes advanced JavaScript libraries like Chart.js to analyze and visually represent data, providing real-time insights into plant health and irrigation needs. Sensor measurements are retrieved from the backend, ensuring efficient water usage and optimal plant growth. By leveraging Flask, the project seamlessly integrates IoT functionalities to create a smart, responsive irrigation system. Explore the code to see how these technologies come together to enhance agricultural efficiency and sustainability.</p>
                <img style="width: 45vw; height: auto;" src="../static/project21.png" alt="Project 2a">
                <img style="width: 45vw; height: auto;" src="../static/project22.png" alt="Project 2b">
            </div>
        </section>
        <!-- <section id="project-3">
            <h2>Project 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac libero nec odio ultricies tincidunt. Nullam nec nunc nec nunc.</p>
            <img src="project-3.jpg" alt="Project 3">
        </section> -->
        <button class="link-button"><a class="link arrow-link" href="https://github.com/kimviiii">My GitHub Profile</a></button>
    </main>
    <footer>
        <p>&copy; 2024 Kalana Kivindu</p>
    </footer>
    <script src="../static/script.js"></script>
</body>
</html>